<div class="box26">
    <p class="d-flex align-items-center justify-content-center text-nowrap">
      では一度、自分の悪かったところを謝ってみましょう。<br>
      <%= current_user.name %>さんが好きな<%= current_user.favorite_food %>を<br>
      食べながらはどうでしょうか？<br>
      オシャレで喜んでくれそうな店を検索しましょう。
    </p>
    <p class="mt-4"><%= link_to "検索する", "http://www.google.co.jp/", class: "text-primary" %></p>
</div>