<div class="row">
  <div class="col-6">
    <div class="box25 py-5">
      <p class="ml-3">あなたが悪い理由ははっきりしていますか？</p>
      <div class="mt-3"><%= link_to "はい", page6_path, class: "ml-3 text-primary" %><%= link_to "いいえ", page7_path, class: "text-primary ml-5" %></div>
    </div>
  </div>
  <div class="col-4">
    <%= attachment_image_tag @random,:image,width: "300", height: "300", class: "random-image"%>
  </div>
</div>