<div class="box26">
    <p class="d-flex align-items-center justify-content-center text-nowrap">
      ケンカが無いのはとても羨ましい関係です。<br>
      1枚でも多く写真を撮って、更に多くの思い出を残しましょう。
    </p>
    <p class="mt-4 link"><%= link_to "ホームへ戻る", posts_path, class: "text-primary" %></p>
</div>