<div class="box26">
    <p class="d-flex align-items-center justify-content-center text-nowrap">
      一度話し合うことが良いでしょう。<br>
      相手の悪いところを責めず<br>
      仲直りしたい気持ちを出して下さい。<br>
      <%= current_user.name %>さんは<%= current_user.hobby %>が好きなようです。<br>
      一緒にやってみて、その後に話すのはどうですか?
    </p>
    <p class="mt-4 link"><%= link_to "ホームへ戻る", posts_path, class: "text-primary" %></p>
</div>