<div class="box26">
    <p class="d-flex align-items-center justify-content-center text-nowrap">
      では一度、今回の件で嫌だったところを<br>
      <%= @sharing.name %>さんに伝えてみるのはどうでしょうか?<br>
      あなたが言いたいことを言うのでは無く<br>
      <%= @sharing.name %>さんがその言葉を言われた時の<br>
      気持ちを十分に考えて、まとめてから伝えてみましょう。
    </p>
    <p class="mt-4 link"><%= link_to "ホームへ戻る", posts_path, class: "text-primary" %></p>
</div>