<main>
    <div class="slider">
        <ul class="slides">
            <li class="slide"><img src="image1.jpg" alt=""></li>
            <li class="slide"><img src="image2.jpg" alt=""></li>
            <li class="slide"><img src="image3.jpg" alt=""></li>
            <li class="slide"><img src="image4.jpg" alt=""></li>
            <li class="slide"><img src="image5.jpg" alt=""></li>
        </ul>
    </div>
    <div class="text-center pt-5">
        <p>
            みなさんは思い出を共有できていますか？<br/>
            何歳になっても写真を見返して、笑うことは大事と思いますか？<br/>
        </p>
        <h3 class="pt-2">まずはみなさんの思い出を見てみませんか？</h3>
        <%= link_to "みんなの思い出へ", posts_path, class: "btn btn-primary mt-3" %>
    </div>

    <script>
$('.slider').glide({
arrowRightText: '',
arrowLeftText: '',
animationDuration: 1500,
autoplay: 4000,
hoverpause: false
});
</script>
</main>