// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// ここからがスライドショーのCSS

.c{
  height: 400px;
  width : 60%;
  margin: 0 auto;
}

.slick-dots {
  li {
    font-size: 20px !important;
    button:before {
      content: "★" !important;
      font-size: 14px !important;
      color: rgb(60, 60, 60) !important;
    }
  }
}

// ここまでがスライドショーのCSS

// ここからは新規登録画面・ログイン画面のCSS

.lead-form{
  text-align: center;
  font-size: 20px;
}

form{
  width: 460px;
  margin: 0 auto;
}

.field{
  overflow: hidden;
}

.label{
  float: left;
  margin-right: 20px;
  width: 135px;
  border-left: solid 3px #e0505d;
  padding-left: 10px;
}

.inputs{
  float: left;
  width: 300px;
}

.label {
    margin-top: 25px;
}

.submit-button {
    background: #e0505c;
    border: none;
    color: white;
    font-size: 17px;
    font-weight: bold;
    margin-top: 20px;
    padding: 5px 80px;
    margin: 0 5px;
}

.login-button {
    background: #4169e1;
    border: none;
      color: white;
      font-size:17px;
      padding: 7px 30px;
      margin: 0 5px;
}

// ここまでが新規登録画面・ログイン画面のCSS

/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width:768px) {
  .top-comment p {
    font-size: 12px;
  }

  .top-comment h3 {
    font-size: 15px;
  }
}
/* スマートフォンサイズ（425px）以下の際に適用される設定 */

@media screen and (max-width:425px) {
  // トップ画面のレスポンシブ　ここから
  .top-comment p {
    font-size: 11px;
  }

  .top-comment h3 {
    font-size: 15px;
  }
  // トップ画面のレスポンシブ　ここまで

  // アバウト画面のレスポンシブ　ここから
  .about-comment p {
    font-size: 11px;
  }
  // アバウト画面のレスポンシブ　ここまで
}

